$main-bg-color: royalblue;
$second-bg-color: rgb(108, 136, 223);

$primary-color: rgb(33, 33, 88);
$secondary-color: rgb(70, 70, 161);

$text-color: rgb(128, 152, 221);

$searchbar-width-L: 400px;
$searchbar-width-M: 250px;
$searchbar-width-S: 150px;

$h3-font-size: 1.5rem;
$large-font: 1rem;
$medium-font: 0.9rem;
