@use "_variables.scss" as *;

.body {
  height: calc(100vh - 45px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .body-content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    overflow: hidden;

    .primary-info {
      height: 50%;
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      background: rgba(65, 105, 225, 0.2);

      .p-info1 {
        width: 35%;
        display: flex;
        flex-flow: row nowrap;

        div:first-child {
          width: 50%;
          font-size: 5rem;

          img {
            width: 70%;
          }

        p {
           margin: 0;
            text-align: center;
            line-height: 16px;
          }
        }

        div:last-child {
          width: 50%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;

          p {
            margin: 4px;
            text-wrap: nowrap;
          }
        }
      }

      .p-info2 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        div {
          & * {
            margin: 0 0 5px 0;
          }
        }

        .location-icon {
          height: 50%;
          width: 50%;
          color: white;
        }
      }
    }

    .forcast-info {
      height: 50%;
      flex-grow: 1;
      background: rgba(65, 105, 225, 0.2);
    }
  }
}
