@use '_variables.scss' as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic small', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    background-color: $main-bg-color;
    color: white;
}

a{
    text-decoration: none;
    color: $second-bg-color;
    transition: 200ms;

    &:hover{
        filter: brightness(150%);
    }
}

footer{
    line-height: 1px;
    height: 10px;
    font-size: 1rem;
    opacity: 80%;
    text-shadow: 2px 2px 2px black;
} 

h1{
    font-size: $h3-font-size;
}