@use "_variables.scss" as *;

.navbar {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: $primary-color;

  .searchbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    & *:focus {
      outline: 1px solid white;
    }

    .switch {
      margin-right: 5px;
      height: 44px;
      width: 44px;
      background: none;
      border: 1px solid $secondary-color;
      color: $secondary-color;
      font-size: 1.5rem;
      font-weight: bold;

      &:hover{
        background-color: $secondary-color;
        color: $primary-color;
        transition: 200ms;
      }
      &:focus{
        filter: brightness(140%);
        outline: none;
      }
    }

    .search {
      height: 40px;
      width: 400px;
      background-color: $primary-color;
      font-size: 1rem;
      border: 1px solid $secondary-color;
    }

    .search-results {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 999;

      li {
        padding: 5px;
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary-color;
        font-size: 1.2rem;
        border-bottom: 1px solid rgb(179, 198, 253);
        cursor: pointer;
        transition: 200ms;

        &:hover {
          filter: brightness(80%);
        }

        p {
          pointer-events: none;
        }
        p:last-child {
          opacity: 0.5;
        }
      }
    }
  }
}
