@use "_variables.scss" as *;

.navbar {
  width: 100vw;
  height: 60px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: $primary-color;
  transition: 100ms;

  .searchbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    & *:focus {
      outline: 1px solid white;
    }

    .btn {
      margin-right: 5px;
      height: 40px;
      width: 40px;
      background: none;
      border: 1px solid $secondary-color;
      color: $secondary-color;
      font-size: $h3-font-size;
      font-weight: bold;

      &:hover{
        background-color: $secondary-color;
        color: $primary-color;
        transition: 200ms;
      }
      &:focus{
        filter: brightness(140%);
        outline: none;
      }
    }

    .search-btn{
      display: none;
    }

    .search {
      height: 40px;
      width: $searchbar-width-L;
      padding: 5px;
      background-color: $primary-color;
      font-size: $large-font;
      border: 1px solid $secondary-color;
    }

    .search-results {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      right: 0;
      width: $searchbar-width-L;
      z-index: 999;

      li {
        padding: 5px;
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary-color;
        font-size: $large-font;
        border-bottom: 1px solid rgb(179, 198, 253);
        cursor: pointer;
        transition: 200ms;

        &:hover {
          filter: brightness(80%);
        }

        p {
          pointer-events: none;
        }
        p:last-child {
          opacity: 0.5;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
    .navbar{
    .searchbar{
      .search{
        width: $searchbar-width-M;
      }
      .search-results{
        width: $searchbar-width-M;
    }
  }
  }
}
@media only screen and (max-width: 500px) {
  .navbar{
    .searchbar{
      .search{
        width: $searchbar-width-S;
      }
      .search-results{
        width: $searchbar-width-S;
    }
  }
  }

}
@media only screen and (max-width: 375px) {
  .navbar{
    .searchbar{
      .search{
        width: 175px;
        position: absolute;
        top: 0;
        left: -100%;
        display: none;
      }
      .search-results{
        width: 175px;
        left: -100%;
      li{
        font-size: $medium-font;
      }
    }
    .search-btn{
      display: block;
    }
  }
  }
}
